<h1><%= @information.title %></h1>
<p><%= @information.description %></p>

<!-- Índice -->
<ul>
  <% @information.sections.each do |section| %>
    <li><a href="#section-<%= section.id %>"><%= section.title %></a></li>
  <% end %>
</ul>

<!-- Contenido -->
<% @information.sections.each do |section| %>
  <h2 id="section-<%= section.id %>"><%= section.title %></h2>
  <p><%= section.content %></p>
  <% if section.image.attached? %>
    <%= image_tag section.image %>
  <% end %>
<% end %>

<p><%= link_to "Ver Reviews", information_reviews_path(@information), class: "btn btn-outline-secondary", data: { turbo: false } %></p>
<p><%= link_to "Dejar Review", new_information_review_path(@information), class: "btn btn-primary", data: { turbo: false } %></p>

<% participation = @information.information_participations.find_by(user: current_user) %>
<% if current_user && (participation&.autor_contribution? || current_user.admin? || current_user.moderator?) %>
<p><%= link_to "Ver Solicitudes", information_requests_path(@information), class: "btn btn-warning", data: { turbo: false } %></p>
<% end %>

<% if !participation&.autor_contribution? && !participation&.editor_contribution?  %>
  <p><%= link_to "Solicitar Editar", new_information_request_path(@information), class: "btn btn-warning", data: { turbo: false } %></p>
<% end %>

<% if participation&.autor_contribution? || participation&.editor_contribution? %>
<p><%= link_to "Editar Información", edit_information_path(@information), data: { turbo: false } %></p>
<% end %>

<% if @information.chat_room.present? %>
  <% if participation&.autor_contribution? || participation&.editor_contribution? %>
    <p><%= link_to "Chatroom Editores", information_chat_room_path(@information, @information.chat_room), data: { turbo: false } %></p>
    <% end %>
<% end %>

<% if current_user&.admin? %>
      <%= button_to "Eliminar Información", information_path(@information), 
          method: :delete, 
          form: { 
            data: { 
              turbo: "false",  # ← Esto desactiva Turbo para este formulario
              turbo_confirm: "¿Estás seguro de que quieres eliminar este página de información? Esta acción no se puede deshacer."
            } 
          }
        =%>
<% end %>


