<h1><%= @user.username %></h1>
<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<p>Description: <%= @user.description %></p>
<p>ID: <%= @user.id %></p>

<% if current_user.admin? %>
    <%= button_to "Eliminar Usuario", user_path(@user),
              method: :delete,
              data: { confirm: "Seguro de que quieres eliminarlo?" },
              class: "btn btn-danger" %>
<% end %>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150]), class: "rounded-full" %>

  <% if current_user == @user %>
    <%= link_to 'Cambiar foto', edit_user_registration_path, class: "btn btn-secondary" %>
  <% end %>
<% else %>
  <p>No tienes una foto de perfil.</p>

  <% if current_user == @user %>
    <%= link_to 'Subir foto', edit_user_path(@user), class: "btn btn-primary" %>
  <% end %>
<% end %>
