<h1>Requests for <%= @requestable.class.name %> "<%= @requestable.try(:title) %>"</h1>

<% if @requests.any? %>
  <div class="reviews-list">
    <% @requests.each do |request| %>
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"><%= request.description %></p>
          <% if request.pending? %>
            <p class="card-text">Estado: Pendiente</p>
          <% elsif request.accepted? %>
            <p class="card-text">Estado: Aceptada</p>
            
          <% elsif request.rejected? %>
            <p class="card-text">Estado: Rechazada</p>
          <% end %>
          <%= link_to "Ver Solicitud", polymorphic_path([@requestable, request]), class: "btn btn-outline-primary", data: { turbo: false } %>
          <small class="text-muted">By <%= request.user.username %> on <%= request.created_at.strftime("%b %d, %Y") %></small>
        </div>
      </div>
      <%= link_to "Volver", root_path, class: "btn btn-secondary mt-3" %>
    <% end %>
  </div>
<% else %>
  <p>No requests yet.</p>
  
<% end %>
