<%# Contenido para: app/views/render/index.html.erb %>
<%= render 'hero_section' %>
<%= render 'search_section' %>

<div class="container mx-auto px-4 pb-16">
  <% if params[:search].present? %>
    <%= render 'search_results_section' %>
  <% else %>
    <%= render 'featured_blogs_section' %>
    <%= render 'featured_info_section' %>
    <%= render 'categories_section' %>
    <%= render 'testimonials_section' %>
    <%= render 'newsletter_section' %>
  <% end %>
</div>