<h1>Reviews for <%= @reviewable.class.name %> "<%= @reviewable.try(:title)%>"</h1>

<% if @reviews.any? %>
  <div class="reviews-list">
    <%= link_to "Volver", root_path, class: "btn btn-secondary mt-3" %>

    <% @reviews.each do |review| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Score: <%= review.score %>/5</h5>
          <p class="card-text"><%= review.content %></p>
          <small class="text-muted">By <%= review.user.username %> on <%= review.created_at.strftime("%b %d, %Y") %></small>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No reviews yet.</p>
<% end %>